<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright 2019 Coop IT Easy
     License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl).
-->
<odoo>
    <!-- top menus -->

    <menuitem name="Easy-My Coop" id="menu_main_easy_my_coop" sequence="40" groups="easy_my_coop.group_energiris_user"/>
    <menuitem name="Cooperators" id="menu_easy_my_coop_main_coop" parent="menu_main_easy_my_coop" sequence="5" />
    <menuitem name="Subscription" id="menu_easy_my_coop_main_subscription" parent="menu_main_easy_my_coop" sequence="10" groups="easy_my_coop.group_energiris_manager"/>
    <menuitem name="Reporting" id="menu_easy_my_coop_main_reporting" parent="menu_main_easy_my_coop" sequence="40" groups="easy_my_coop.group_energiris_manager"/>
    <menuitem name="Configuration" id="menu_easy_my_coop_config"  parent="menu_main_easy_my_coop" sequence="20"/>

    <!-- views -->
    <menuitem action="action_invoice_tree_coop" id="menu_action_invoice_tree_coop" parent="menu_easy_my_coop_main_coop" groups="easy_my_coop.group_energiris_user"/>
    <menuitem id="menu_easy_my_coop_cooperator" name="Cooperators" parent="menu_easy_my_coop_main_coop" action="action_partner_cooperator_form" sequence="100"/>
    <menuitem id="menu_easy_my_coop_cooperator_candidate" name="Cooperator Candidates" parent="menu_easy_my_coop_main_coop" action="action_partner_cooperator_candidate_form" sequence="150"/>
    <menuitem id="menu_easy_my_coop_company_representative" name="Company representative" parent="menu_easy_my_coop_main_coop" action="action_company_representative_form" sequence="160"/>

    <menuitem action="subscription_register_action" name="Subscription Register" id="menu_easy_my_coop_subscription_register"  parent="menu_easy_my_coop_main_subscription" sequence="20"/>
    <menuitem action="operation_request_action" name="Operation request" id="menu_easy_my_coop_operation_request" parent="menu_easy_my_coop_main_subscription" sequence="20" groups="easy_my_coop.group_energiris_manager"/>
    <menuitem action="share_product_action" name="Share type" id="menu_easy_my_coop_share_product"  parent="menu_easy_my_coop_main_subscription" sequence="20"/>
    <menuitem action="subscription_request_action" name="Cooperator Subscription" id="menu_easy_my_coop_subscription_request"  parent="menu_easy_my_coop_main_subscription" sequence="10"/>
    <menuitem action="company_subscription_request_action" name="Company Subscription" id="menu_easy_my_coop_company_subscription_request"  parent="menu_easy_my_coop_main_subscription" sequence="12"/>
    <menuitem action="share_line_action" name="Share lines" id="menu_easy_my_coop_share_line"  parent="menu_easy_my_coop_main_subscription" sequence="20" groups="group_energiris_super_manager"/>

    <menuitem id="menu_easy_my_coop_templates" parent="menu_easy_my_coop_config" action="action_easy_my_coop_email_templates" sequence="10" groups="group_energiris_manager"/>

    <!-- wizards -->
    <menuitem action="action_view_update_partner_info" name="Update coop partner" id="menu_view_update_partner_info"  parent="menu_easy_my_coop_main_subscription" sequence="60" groups="base.group_system"/>
<!--    <menuitem id="menu_energiris_reporting" name="Reporting" parent="menu_main_energiris" sequence="20"/>-->
<!--    <menuitem id="menu_coop_history_wizard_report" name="Cooperative history report" parent="menu_energiris_reporting" action="action_cooperative_history_wizard" sequence="10"/>-->

</odoo>
