.border-top-easymy-coop td {
    border-top: 1pt solid #e7511e !important;
}

.border-easymy-coop th {
    border-bottom: 1pt solid #e7511e !important;
}

.easymy-coop-normal {
	font-family:Roboto-Bold;
	font-size:10px;
	line-height:14pt;
}

.easymy-coop-info-title {
	font-family:Roboto-Bold;
	font-size:10px;
	line-height:14pt;
}